<ion-content no-scroll padding [ngClass]="app.Skin('running')">
    <template [ngIf]="!Finish">
      <div>
        <ion-row>
          <ion-col col-4 offset-4><img src="{{ModeGif}}"></ion-col>
        </ion-row>
        <div [ngStyle]="SetDetail">
          <div padding-horizontal text-light f-1-8><strong>{{'demo_mode_play_page.'+ModeTitle|translate}}</strong></div>
          <div padding-horizontal text-light f-1-1>{{'demo_mode_play_page.'+ModeInfo|translate}}</div>
          <div padding-horizontal text-light f-1-2><strong>{{'demo_mode_play_page.'+ModeSuggestion|translate}}</strong></div>
        </div>
      </div>

      <div pull-bottom [ngStyle]="{'width':'100%','bottom':'10px'}">
        <ion-row [ngStyle]="{'margin-top':'0px','padding':'0px'}">
            <ion-col col-8 offset-2 [ngStyle]="{'margin-top':'0px','padding':'0px'}">
                <comp-progressbar [Min]="0" [Max]="60" [Progress]="Intensity" (OnValueChanged)="AdjustIntensity($event)"></comp-progressbar>
            </ion-col>
        </ion-row>
        <ion-row [ngStyle]="{'position':'relative','z-index':100,'margin':'0px','padding':'0px'}">
          <ion-col style="padding: 0px; margin-top: -6px">
            <ion-list transparent no-margin>
              <ion-item no-lines style="padding: 0px; margin: 0px">
                <ion-range min="0" max="100" [ngModel]="InitRange" color="secondary" [ngStyle]="{'margin-top':'0px','padding':'0px'}" disabled progress-bar>
                  <ion-label range-right [ngClass] = "app.SkinColor" [ngStyle]="{'margin':'0 20px 0 5px'}">{{TotalMinute}}</ion-label>
                  <ion-label range-left [ngClass] = "app.SkinColor" [ngStyle]="{'margin':'0 5px 0 20px'}">{{TickingDownHint}}</ion-label>
                </ion-range>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
    </template>
    <template [ngIf]="Finish">
        <div text-light v-m style="height:100%;">
            <div text-center>
                <h2>{{'hint.congratulations'|translate}}</h2>
                <p padding>{{'demo_mode_play_page.demo_play_finish'|translate}}</p>
                <p><ion-icon app-icon text-light [ngStyle]="{'font-size':'50vw'}">&#xe95c;</ion-icon></p>
            </div>
        </div>
    </template>
</ion-content>
<ion-footer no-border>
  <ion-toolbar visible transparent>
    <ion-row [ngStyle]="{'margin-top':'-35px'}">
        <ion-col text-center>
            <button ion-fab [ngStyle]="{display:'inline-flex'}" *ngIf="CurrentRunningIndex < 2" (click)="NextMode()" tappable>
                <ion-icon>&#xf217;</ion-icon>
            </button>
            <button ion-fab [ngStyle]="{display:'inline-flex'}" *ngIf="CurrentRunningIndex >= 2" (click)="Shutdown()" tappable>
                <ion-icon>&#xf359;</ion-icon>
            </button>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

