<ion-content no-scroll padding [ngClass]="app.Skin()">
    <ng-template [ngIf]="!Finish">
      <div>
        <ion-row>
          <ion-col col-4 offset-4>
              <img src="{{ModeGif}}">
          </ion-col>
        </ion-row>
        <div [ngStyle]="TextStyle">
          <div padding-horizontal f-1-1>{{'demo_play_page.'+ModeInfo|translate}}</div>
        </div>
      </div>

      <div pull-bottom [ngStyle]="{width:'100%',bottom:'20px'}">
        <ion-row [ngStyle]="{marginBottom:'-15px'}">
            <ion-col col-8 offset-2 [ngStyle]="{marginTop:0,padding:0}">
                <intensity-dial [Value]="Intensity" (OnValueChanged)="AdjustIntensity($event)"></intensity-dial>
            </ion-col>
        </ion-row>
        <ion-row [ngStyle]="{position:'relative',zIndex:100}" no-padding no-margin>
          <ion-col>
            <ion-list transparent no-margin>
              <ion-item no-padding no-lines>
                <ion-range min="0" max="100" [ngModel]="InitRange" color="secondary" [ngStyle]="{marginTop:0,padding:0}" disabled progress-bar>
                  <ion-label range-right [ngClass] = "app.SkinColor" [ngStyle]="{marginLeft:'16px',marginRight:'2px','font-size':'0.22vm', 'opacity': 0.3}">{{TotalMinute}}</ion-label>
                  <ion-label range-left [ngClass] = "app.SkinColor" [ngStyle]="{width:'48px', marginLeft:'6px',marginRight:'6px', 'font-size':'0.22vm'}">{{TickingDownHint}}</ion-label>
                </ion-range>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>
    <ng-template [ngIf]="Finish">
        <div text-light v-m style="height:100%;">
            <div text-center>
                <h2>{{'hint.congratulations'|translate}}</h2>
                <p padding>{{'demo_play_page.demo_play_finish'|translate}}</p>
                <!--<p><ion-icon app-icon text-light style="font-size:50vw">&#xe938;</ion-icon></p>-->
            </div>
        </div>
    </ng-template>
</ion-content>
<ion-footer no-border>
  <ion-toolbar visible transparent>
    <ion-row [ngStyle]="{'margin-top':'-35px'}">
        <ion-col text-center>
            <button ion-fab trans-shadow [ngStyle]="{display:'inline-flex', marginRight:'5vw'}" *ngIf="! Finish && CurrentRunningIndex > 0 && CurrentRunningIndex <= 2" (click)="LastMode()" tappable>
                <ion-icon app-icon>&#xe939;</ion-icon>
            </button>
            <button ion-fab trans-shadow [ngStyle]="{display:'inline-flex', marginLeft: CurrentRunningIndex != 0 ?'5vw':''}" *ngIf="! Finish && CurrentRunningIndex < 2" (click)="NextMode()" tappable>
                <ion-icon app-icon>&#xe93a;</ion-icon>
            </button>
            <button ion-fab trans-shadow [ngStyle]="{display:'inline-flex', marginLeft: Finish ? '':'5vw'}" *ngIf="CurrentRunningIndex >= 2" (click)="Shutdown()" tappable>
                <ion-icon app-icon>&#xe93b;</ion-icon>
            </button>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

