<ion-content no-scroll padding [ngClass]="app.Skin('running')">
    <template [ngIf]="!Finish">
      <div *ngIf="!Downloading">
        <ion-row>
          <ion-col width-33 offset-33><img src="{{ModeGif}}"></ion-col>
        </ion-row>
        <div [ngStyle]="SetDetail">
          <div padding-horizontal text-light f-1-8><strong>{{'demo_mode_play_page.'+ModeTitle|translate}}</strong></div>
          <div padding-horizontal text-light f-1-1>{{'demo_mode_play_page.'+ModeInfo|translate}}</div>
          <div padding-horizontal text-light f-1-2><strong>{{'demo_mode_play_page.'+ModeSuggestion|translate}}</strong></div>
          <div padding-horizontal text-light f-1-3><strong>{{'demo_mode_play_page.demo_play_intensity'|translate}}</strong></div>
        </div>
      </div>

      <canvas id="demo_mode_canvas_countdown"></canvas>

      <div pull-bottom [ngStyle]="{'width':'100%','bottom':'20px'}">
        <ion-row align-items-center>
          <ion-col width-80 offset-10 no-padding>
            <div id = "box">
              <div id = "point" class="point" [ngStyle] = "{'-webkit-transform':PointRotate()}"></div>
              <div id = "textVal" class="text" f-48 [ngClass] = "app.SkinColor">
                    {{Intensity}}
                    <div class="bg-value" [ngStyle] = "{'animation-duration':Strength}"></div>
                </div>
                <div id="controlBtn" class="controlBtn">
                  <ion-row>
                    <ion-col width-33 text-center>
                      <button ion-button icon-only outline text-uppercase [ngClass] = "app.SkinBorderColor" (click)="AdjustIntensity(-1)" tappable>
                            <ion-icon>&#xf368;</ion-icon>
                      </button>
                    </ion-col>
                    <ion-col width-33></ion-col>
                    <ion-col width-33 text-center>
                      <button ion-button icon-only outline text-uppercase [ngClass] = "app.SkinBorderColor" (click)="AdjustIntensity(1)" tappable>
                          <ion-icon>&#xf273;</ion-icon>
                    </button>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
          </ion-col>
        </ion-row>
          <ion-row [ngStyle]="{'position':'relative','z-index':100}">
            <ion-col width-80 offset-10>
              <ion-list transparent no-margin>
                <ion-item no-lines>
                  <ion-range min="0" max="100" [ngModel]="InitRange" color="secondary" disabled progress-bar>
                    <ion-label range-right [ngClass] = "app.SkinColor" [ngStyle]="{'margin':'0 0 0 5px'}">{{TotalMinute}}</ion-label>
                  </ion-range>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
      </div>
    </template>
    <template [ngIf]="Finish">
        <div text-light v-m style="height:100%;">
            <div text-center>
                <h2>{{'hint.congratulations'|translate}}</h2>
                <p padding>{{'demo_mode_play_page.demo_play_finish'|translate}}</p>
                <p><ion-icon app-icon text-light [ngStyle]="{'font-size':'50vw'}">&#xe95c;</ion-icon></p>
            </div>
        </div>
    </template>
</ion-content>
<ion-footer no-border>
  <div content-footer>
     <div wrap>
            <div aims center-up>
                <button large round outline text-uppercase text-center text-light gradient-secondary *ngIf="! Finish" (click)="Shutdown()" tappable>
                    <ion-icon>&#xf359;</ion-icon>
                </button>
                <button large round outline text-uppercase text-center text-light gradient-secondary *ngIf="Finish" (click)="nav.popToRoot()" tappable>
                    <ion-icon>&#xf359;</ion-icon>
                </button>
            </div>
     </div>
  </div>
</ion-footer>

