<div margin-horizontal style="margin-top:13vh" class="fadein">
    <ion-list *ngIf="PeripheralList.length>0">
        <ion-item device *ngFor="let peri of PeripheralList" (click)="SelectionDevice(peri);$event.stopPropagation()" tappable>
            <p><span ion-text color="dark">{{'home_page.title'|translate}}</span></p>
            <ion-icon app-icon *ngIf="peri.Status.RSSI<-80" item-right><span f-10>{{peri.Status.RSSI}}</span>&#xe92f;</ion-icon>
            <ion-icon app-icon *ngIf="peri.Status.RSSI<-70 && peri.Status.RSSI>=-80" item-right><span f-10>{{peri.Status.RSSI}}</span>&#xe92e;</ion-icon>
            <ion-icon app-icon *ngIf="peri.Status.RSSI<-60 && peri.Status.RSSI>=-70" item-right><span f-10>{{peri.Status.RSSI}}</span>&#xe92d;</ion-icon>
            <ion-icon app-icon *ngIf="peri.Status.RSSI<-50 && peri.Status.RSSI>=-60" item-right><span f-10>{{peri.Status.RSSI}}</span>&#xe92c;</ion-icon>
            <ion-icon app-icon *ngIf="peri.Status.RSSI>=-50" item-right><span f-10>{{peri.Status.RSSI}}</span>&#xe926;</ion-icon>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="IsShowPluginDevice" >
        <ion-item device>
            <span>{{'hint.plug_device'|translate}}</span>
        </ion-item>
    </ion-list>
</div>
