<ion-header no-shadow no-border >
  <ion-toolbar color="color-primary">
    <!--<ion-buttons absolute Fixed-buttons left>
      <button ion-button icon-only color="light" tappable>
          <ion-icon [ngClass]="app.SkinColor" app-icon>&#xe908;</ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <span ion-text color="light">{{'home_page.title'|translate}}</span>
    </ion-title>-->
    <ion-row align-items-center>
      <ion-col col-2 align-self-center text-center no-padding>
        <button ion-button clear icon-only color="light" tappable>
            <ion-icon [ngClass]="app.SkinColor" app-icon>&#xe908;</ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 f-2-0 align-self-center text-center text-light no-padding>
          {{'home_page.title'|translate}}
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content no-scroll  color="light"  [ngClass]="app.Skin(ActiveSwitch())" [ngSwitch]="ActiveTab.Index">
    <filelist-recommend *ngSwitchCase="255" [FileList]="ActiveTab.FileList" (OnSelection)="SelectFile($event)"></filelist-recommend>
    <filelist-body *ngSwitchCase="0" [FileList]="ActiveTab.FileList" (OnSelection)="SelectFile($event)"></filelist-body>
    <filelist-card *ngSwitchCase="1" [FileList]="ActiveTab.FileList" (OnSelection)="SelectFile($event)"></filelist-card>
    <filelist-dial *ngSwitchCase="2" [FileList]="ActiveTab.FileList" (OnSelection)="SelectFile($event)"></filelist-dial>
    <profile *ngSwitchCase="65536" (OnSelection)="ProfileSwitch($event)"></profile>
</ion-content>

<ion-footer no-shadow no-border>
  <ion-toolbar transparent no-padding>
    <ion-row class="row-tab">
      <ion-col text-center [class.state]="tab.Index===ActiveTab.Index" *ngFor="let tab of Tabs" (click)="SelectTab(tab)" tappable>
        <div class="button">
          <ion-icon app-icon>{{app.IconFont(tab.Icon)}}</ion-icon>
        </div>
       <span text-nowrap f-12>{{tab.Name|translate}}</span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-backdrop my-backdrop *ngIf="DeviceScanning" (click)="DeviceScanning=false;app.EnableHardwareBackButton();">
    <scan-device (OnSelection)="DeviceSelection($event)"></scan-device>
</ion-backdrop>
