<ion-header no-shadow no-border [ngClass]="app.Skin()">
  <ion-toolbar transparent>
    <ion-buttons left>
      <button ion-button icon-only color="light" [ngStyle]="{'margin':'0 6px','padding':'0 2px','min-width':'44px'}" tappable>
          <ion-icon [ngClass]="app.SkinColor" app-icon>&#xe908;</ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <span ion-text color="light">{{'home_page.title'|translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-scroll color="light"  [ngClass]="app.Skin(ActiveSwitch())" [ngSwitch]="ActiveTab.Index">
    <scan-device *ngIf="DeviceScanning" (OnVisible)="DeviceListVisible()" (OnSelection)="DeviceSelection($event)"></scan-device>
    <filelist-body *ngSwitchCase="0" [FileList]="ActiveTab.FileList" (OnSelection)="SelectFile($event)"></filelist-body>
    <ion-row *ngSwitchCase="1" margin>
      <ion-col col-12>
          <filelist-card  [FileList]="ActiveTab.FileList" (OnSelection)="SelectFile($event)"></filelist-card>
      </ion-col>
    </ion-row>
    <filelist-dial *ngSwitchCase="2" [FileList]="ActiveTab.FileList" (OnSelection)="SelectFile($event)"></filelist-dial>
    <profile *ngSwitchCase="65536" (OnSelection)="ProfileSwitch($event)"></profile>
</ion-content>

<ion-footer no-shadow no-border>
  <ion-toolbar transparent no-padding FooterTab-Default>
    <ion-row>
      <ion-col text-center [class.state]="tab.Index===ActiveTab.Index" *ngFor="let tab of Tabs" (click)="SelectTab(tab)" tappable>
        <button>
          <ion-icon app-icon>{{app.IconFont(tab.Icon)}}</ion-icon>
        </button>
       <span text-nowrap f-12>{{tab.Name|translate}}</span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
