<ion-header no-shadow no-border>
  <ion-toolbar color="color-primary">
    <ion-buttons left>
        <button ion-button icon-only color="light" [ngStyle]="{'margin':'0 6px','padding':'0 2px','min-width':'44px'}" tappable>
            <ion-icon app-icon>&#xe908;</ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons right>
        <button ion-button icon-only color="light" [ngStyle]="{'margin':'0 6px','padding':'0 2px','min-width':'44px'}" (click)="Home()" tappable>
            <ion-icon app-icon>&#xe936;</ion-icon>
        </button>
    </ion-buttons>
    <ion-title text-center>
        <span ion-text color="light">{{'home_page.title'|translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-scroll padding [ngClass]="app.Skin('light')">
 <ng-template [ngIf]="! Finish">
     <ion-row justify-content-center align-item-center style="border-bottom:solid 1px #F2F2F2">
         <ion-col col-2>
         </ion-col>
         <ion-col col-8 align-self-center text-center style="margin: auto">
            <span f-2-4>{{ScriptFile.Name_LangId|translate}}</span>
         </ion-col>
         <ion-col col-2 align-self-end text-end style="margin: auto">
            <button *ngIf="ShowButton" clear (click)="SetDefaultFiles()" tappable>
                <ion-icon app-icon color="color-primary-light" style="font-size: 8vw">&#xe94a;</ion-icon>
            </button>
        </ion-col>
     </ion-row>
    <ion-row>
        <ion-col col-12 text-right n-m-b-30>
            <span ion-text color="gray">{{TotalMinute}}</span>
         </ion-col>
         <ion-col col-12>
             <ion-range min="0" max="100" [ngModel]="Ticking / ScriptFile.Duration * 100" color="secondary" disabled progress-bar>
            </ion-range>
         </ion-col>
     </ion-row>
     <ion-row>
         <ion-col col-6 offset-3 text-center style="font-size:10vw;font-weight:bold"><span ion-text color="dark-light">{{TickingDownHint}}</span></ion-col>
     </ion-row>

    <ion-row align-items-center  margin-horizontal>
        <ion-col col-10 offset-1>
            <intensity-dial [Value]="Intensity" (OnValueChanged)="AdjustIntensity($event)"></intensity-dial>
        </ion-col>
    </ion-row>

  </ng-template>
  <ng-template [ngIf]="Finish">
    <div v-m style="height:100%;">
        <ion-icon app-icon color="color-primary-light" style="font-size:20vh">&#xe95c;</ion-icon>
    </div>
  </ng-template>
</ion-content>
<ion-footer no-border no-shadow>
    <ion-toolbar transparent visible>
        <ion-row n-m-t-50>
            <ion-col col-6 offset-3 text-center>
                <button ion-button block round (click)="Shutdown()" color="color-primary-light">
                    关闭
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>

<ion-backdrop my-backdrop-deep *ngIf="SetDefaultFile">
    <download-default-file [Value]="DefaultFilesDatas" (OnDismiss)="SetDefaultDone($event)"></download-default-file>
</ion-backdrop>
