<ion-header no-shadow no-border [ngClass]="app.Skin()">
    <ion-toolbar transparent>
        <ion-title text-center><span [ngClass]="app.SkinColor">{{ScriptFile.Name_LangId|translate}}</span></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [ngClass]="app.Skin()" [class.no-scroll]="IsShowDescIcon">
    <ng-template [ngIf]="!IsShowingDeviceList">
        <div [ngClass]="{true:'fadeout',false:'fadein'}[IsShowDescIcon]" id="gridBody">
            <div *ngFor="let body of ScriptFile.BodyParts;let i = index">
                <h5 [ngClass]="app.SkinColor" padding-left>{{'go_page.advise'|translate}}<b>{{body.Name_LangId|translate}}</b></h5>
                <ion-row wrap padding-horizontal margin-bottom [ngClass]="app.SkinColor">
                    <ion-col col-6 *ngFor="let icon of body.DescIconChars;let j = index" (click)="ShowDesc($event)" tappable>
                        <div out-line radius b-g-c attr.id="{{i}}-{{j}}">
                            <ion-icon app-icon style="font-size:36vw">{{icon}}</ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="grid" [ngClass]="app.SkinColor" margin>
                <h5 (click)="ShowFileDetail()" tappable>
                    <ng-template [ngIf]="!IsShowFileDetail"><ion-icon [ngStyle]="{'vertical-align': 'text-top'}">&#xf3d1;</ion-icon></ng-template>
                    <ng-template [ngIf]="IsShowFileDetail"><ion-icon [ngStyle]="{'vertical-align': 'text-top'}">&#xf3d0;</ion-icon></ng-template>
                    &nbsp;{{'go_page.professional'|translate}}
                </h5>
                <ng-template [ngIf]="IsShowFileDetail">
                    <div class="row" *ngFor="let d of FileDetails()">
                        <div class="cell cell-max" [innerHTML]="d"></div>
                    </div>
                </ng-template>
            </div>
            <br><br><br>
        </div>
    </ng-template>
    <ion-list *ngIf="IsShowingDeviceList">
        <ng-template [ngIf]="DeviceList.length > 0">
            <ion-item *ngFor="let device of DeviceList" (click)="SelectionDevice(device)" tappable>
                <p>{{'home_page.title'|translate}}</p>
                <ion-icon app-icon *ngIf="device.rssi<-80" item-right><span f-12>{{device.rssi}}</span>&#xe92f;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-70 && device.rssi>=-80" item-right><span f-12>{{device.rssi}}</span>&#xe92e;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-60 && device.rssi>=-70" item-right><span f-12>{{device.rssi}}</span>&#xe92d;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-50 && device.rssi>=-60" item-right><span f-12>{{device.rssi}}</span>&#xe92c;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi>=-50" item-right><span f-12>{{device.rssi}}</span>&#xe926;</ion-icon>
            </ion-item>
        </ng-template>
        <ion-item *ngIf="DeviceList.length === 0">
            <span>{{'go_page.plug_device'|translate}}</span>
        </ion-item>
    </ion-list>
    <div [ngClass]="app.SkinColor" [class.animation]="'animation'" #enlarge tappable></div>
</ion-content>
<ion-footer no-border>
    <div content-footer [ngClass]="app.SkinConFooter">
        <div wrap>
            <div aims left>
                <button ion-button icon-only mini clear (click)="nav.pop()" tappable>
                    <ion-icon app-icon [ngClass] = "app.SkinColor">&#xe92b;</ion-icon>
                </button>
            </div>
            <ng-template [ngIf]="!IsShowingDeviceList">
                <div aims center-up>
                    <button large round outline text-uppercase text-center text-light gradient-purple (click)="Go()" tappable>
                        <ion-icon>&#xf488;</ion-icon>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</ion-footer>