<ion-header no-shadow no-border>
    <ion-toolbar transparent>
        <ion-title text-center><span [ngClass]="app.SkinColor">{{ScriptFile.Name_LangId|translate}}</span></ion-title>
    </ion-toolbar>
    <!--<ion-toolbar transparent padding-horizontal class="o-light">
        <ion-buttons end>
            <button ion-button icon-only clear item-right [ngClass]="app.SkinColor">
                    <ion-icon>&#xf4b2;</ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>-->
</ion-header>
<ion-content [ngClass]="app.Skin('go')" has-fab-bottom>
    <template [ngIf]="!IsShowingDeviceList">
        <div explain padding [ngStyle]="{'border-left-width':0,'border-right-width':0}" [ngClass]="app.SkinColor" [innerHTML]="ScriptFile.Desc_LangId|translate">
        </div>

        <ion-row margin-top orientate wrap [ngClass]="app.SkinColor">
            <ion-col width-50 text-center area>
                <span aims round [ngStyle]="{'left':'21vw','top':'18vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe90a;</ion-icon>
            </ion-col>
            <ion-col width-50 text-center area>
                <span aims round [ngStyle]="{'left':'21vw','top':'9vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe909;</ion-icon>
            </ion-col>

            <ion-col width-50 text-center area>
                <span aims round [ngStyle]="{'left':'8vw','top':'18vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe913;</ion-icon>
            </ion-col>
            <ion-col width-50 text-center area>
                <span aims oval [ngStyle]="{'left':'21vw','top':'20vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe90f;</ion-icon>
            </ion-col>

            <ion-col width-50 text-center area>
                <span aims round [ngStyle]="{'left':'17vw','top':'16vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe90e;</ion-icon>
            </ion-col>
            <ion-col width-50 text-center area>
                <span aims round [ngStyle]="{'left':'10vw','top':'32vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe912;</ion-icon>
            </ion-col>

            <ion-col width-50 text-center area>
                <span aims oval [ngStyle]="{'left':'20vw','top':'18vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe90c;</ion-icon>
            </ion-col>
            <ion-col width-50 text-center area>
                <span aims round [ngStyle]="{'left':'20vw','top':'17vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe90d;</ion-icon>
            </ion-col>

            <ion-col width-50 text-center area>
                <span aims round [ngStyle]="{'left':'21vw','top':'15vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe910;</ion-icon>
            </ion-col>
            <ion-col width-50 text-center area>
                <span aims round [ngStyle]="{'left':'22vw','top':'18vw'}"></span>
                <ion-icon app-icon v-w-42>&#xe911;</ion-icon>
            </ion-col>
        </ion-row>
        <br><br><br>
    </template>

    <ion-list *ngIf="IsShowingDeviceList">
        <template [ngIf]="DeviceList.length > 0">
            <ion-item *ngFor="let device of DeviceList" (click)="SelectionDevice(device)" tappable>
                <p>{{device.name}}</p>
                <ion-icon app-icon *ngIf="device.rssi>=-50" item-right><span f-12>{{device.rssi}}</span>&#xe926;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-50 && device.rssi>=-60" item-right><span f-12>{{device.rssi}}</span>&#xe92c;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-60 && device.rssi>=-70" item-right><span f-12>{{device.rssi}}</span>&#xe92d;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-70 && device.rssi>=-80" item-right><span f-12>{{device.rssi}}</span>&#xe92e;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-80" item-right><span f-12>{{device.rssi}}</span>&#xe92f;</ion-icon>
            </ion-item>
        </template>
        <ion-item *ngIf="DeviceList.length === 0">
            <span>{{'go_page.plug_device'|translate}}</span>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <div content-footer [ngClass]="app.SkinConFooter">
        <div wrap>
            <div aims left>
                <button ion-button icon-only mini clear (click)="nav.pop()" tappable>
                    <ion-icon app-icon [ngClass] = "app.SkinColor">&#xe92b;</ion-icon>
                </button>
            </div>
            <div aims center-up *ngIf="! IsShowingDeviceList">
                <button large round outline text-uppercase text-light gradient-purple (click)="Go()" tappable>
                    <ion-icon>&#xf488;</ion-icon>
                </button>
            </div>
        </div>
    </div>

</ion-footer>