<ion-header no-shadow no-border>
    <ion-toolbar transparent>
        <ion-title text-center><span [ngClass]="app.SkinColor">{{ScriptFile.Name_LangId|translate}}</span></ion-title>
        <ion-buttons right *ngIf="IsShowDescIcon">
            <button ion-button icon-only (click)="CloseDesc()" tappable>
                        <ion-icon [ngClass]="app.SkinColor">&#xf2c0;</ion-icon>
                    </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [ngClass]="app.Skin('go')">
    <template [ngIf]="!IsShowingDeviceList">
        <div class="show-card" *ngIf="IsShowDescIcon" [ngClass]="{'fadein':IsShowDescIcon}">
            <ion-row [ngClass]="app.SkinColor">
                <ion-col>
                    <div out-line b-g-c>
                        <ion-icon app-icon v-w-72>{{CurrentDescIcon}}</ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div [ngClass]="{'fadeout':IsShowDescIcon}">
            <div *ngFor="let body of ScriptFile.BodyParts">
                <h5 [ngClass]="app.SkinColor" padding-left>{{body.Name_LangId|translate}} <br> {{body.Name_LangId}} {{body.DescIconString}}</h5>
                <ion-row wrap padding-horizontal margin-bottom [ngClass]="app.SkinColor">
                    <ion-col width-50 *ngFor="let icon of body.DescIconChars">
                        <div out-line radius b-g-c (click)="ShowDesc(icon)" tappable>
                            <ion-icon app-icon v-w-36>{{icon}}</ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="grid" [ngClass]="app.SkinColor" margin>
                <h1>
                    <button ion-button>
                        展开&nbsp;&nbsp;
                        <ion-icon>&#xf3d0;</ion-icon>
                    </button>
                </h1>
                <div class="row" *ngFor="let d of FileDetails()">
                    <div class="cell cell-max" [innerHTML]="d"></div>
                </div>
            </div>
        </div>
    </template>
    <ion-list *ngIf="IsShowingDeviceList">
        <template [ngIf]="DeviceList.length > 0">
            <ion-item *ngFor="let device of DeviceList" (click)="SelectionDevice(device)" tappable>
                <p>{{device.name}}</p>
                <ion-icon app-icon *ngIf="device.rssi<-80" item-right><span f-12>{{device.rssi}}</span>&#xe92f;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-70 && device.rssi>=-80" item-right><span f-12>{{device.rssi}}</span>&#xe92e;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-60 && device.rssi>=-70" item-right><span f-12>{{device.rssi}}</span>&#xe92d;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi<-50 && device.rssi>=-60" item-right><span f-12>{{device.rssi}}</span>&#xe92c;</ion-icon>
                <ion-icon app-icon *ngIf="device.rssi>=-50" item-right><span f-12>{{device.rssi}}</span>&#xe926;</ion-icon>
            </ion-item>
        </template>
        <ion-item *ngIf="DeviceList.length === 0">
            <span>{{'go_page.plug_device'|translate}}</span>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <div content-footer [ngClass]="app.SkinConFooter">
        <div wrap>
            <div aims left>
                <button ion-button icon-only mini clear (click)="nav.pop()" tappable>
                    <ion-icon app-icon [ngClass] = "app.SkinColor">&#xe92b;</ion-icon>
                </button>
            </div>

            <template [ngIf]="!IsShowingDeviceList">
                <div aims center-up>
                    <button large round outline text-uppercase text-center text-light gradient-purple (click)="Go()" tappable>
                        <ion-icon>&#xf488;</ion-icon>
                    </button>
                </div>
            </template>
            <div aims right>
                <button ion-button icon-only mini clear (click)="OpenFileDetail()" tappable>
                    <ion-icon [ngClass]="app.SkinColor">&#xf19f;</ion-icon>
                </button>
            </div>
        </div>
    </div>
</ion-footer>