// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
    // color-primary:#6490fb,
    // color-primary-exc:#8adbff,
    // color-primary-demo:#2c8cc3,
    // color-primary-tou:#2F2F2F,

    color-primary: #6599f7,
    color-primary-light:lighten(#6599f7,10%),
    color-primary-exc:#fce76c,
    color-primary-demo:#2F2F2F,
    color-primary-tou:#2F2F2F,
    color-primary-gray:#fbfbfb,

    primary: #242424,
    secondary: #61b58a,
    success:green,
    danger: #f53d3d,
    red-light: #ff4b4b,

    orange:orange,
    light: white,
    dark: #222,
    dark-light: lighten(#222,20%),

    purple: #382b5f,
    scarlet: #03a451,
    skyblue: #51e2f0,
    lightblue: #6490fb,
    gray: #8c9093,
    skin-purple: #221c40,
    skin-Black: #555555,
    skin-weal: #4b445a,
    skin-sunset: #292b41,
);
$menu-width: 280px;


$conFooterHeight:56px;

// ******RangeStyle Start****** //

$range-md-hit-width:36px;
$range-md-slider-height:36px;
$range-md-bar-height:16px;
$range-md-knob-width:36px;
$range-md-bar-background-color:#f0f0f0;

$range-ios-slider-height: 36px;
$range-ios-hit-width:36px;
$range-ios-bar-height:16px;
$range-ios-knob-width:20px;
$range-ios-knob-background-color:color($colors,light,base);

// ******RangeStyle End****** //

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$ionicons-font-path: "../assets/fonts";
@import "ionicons";
