<ion-row [ngClass]="app.Skin('home')">
    <ion-col col-12 no-padding margin-top>
        <section Flip-x>
            <swiper #BodySwiper [Config]="{pagination:'.swiper-pagination', paginationClickable: true,
                nextButton:'.swiper-button-next', prevButton:'.swiper-button-prev', effect:'cube'}"
            (OnSlideChanged)="UsageIconChanged($event)">
                    <div class="swiper-wrapper" [ngStyle]="SetStyle(0)">
                        <div class="swiper-slide" *ngFor="let i of CurrBodyCategory.UsageIcons"><ion-icon app-icon [ngStyle]="SetStyle(1)">{{app.IconFont(i)}}</ion-icon></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"><ion-icon app-icon>&#xe918;</ion-icon></div>
                    <div class="swiper-button-prev"><ion-icon app-icon>&#xe918;</ion-icon></div>

            </swiper>
        </section>
    </ion-col>

    <ion-col col-10 offset-1 no-padding margin-top>
        <ion-row VSideLeft nowrap>
            <ion-col no-padding text-center [class.active]="CurrBodyCategory===b" *ngFor="let b of BodyCategories" (click)="SelectBodyCategory(b)" tappable>
                <button><b><span app-icon [innerHTML]="+app.IconFont(b.Icon)"></span></b></button>
            </ion-col>
        </ion-row>
    </ion-col>

    <ion-col col-12 no-padding text-center margin-top style="height:150px">
        <swiper #FileSwiper [Config]="{direction: 'vertical',slidesPerView: 3,centeredSlides: true}">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let f of FilteredFiles">{{f.Name_LangId|translate}}</div>
            </div>
        </swiper>
    </ion-col>
</ion-row>
