<ion-row [ngClass]="app.Skin('home')">
    <ion-col col-12 no-padding margin-top>
        <section Flip-x>
            <swiper [Config]="{pagination:'.swiper-pagination', paginationClickable: true,
                nextButton:'.swiper-button-next', prevButton:'.swiper-button-prev', effect:'cube'}">
                <div class="swiper-wrapper" [ngStyle]="SetStyle(0)">
                    <div class="swiper-slide" *ngFor="let i of SelectedBody.UsageIcons"><ion-icon app-icon [ngStyle]="SetStyle(1)">{{app.IconFont(i)}}</ion-icon></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"><ion-icon app-icon>&#xe918;</ion-icon></div>
                <div class="swiper-button-prev"><ion-icon app-icon>&#xe918;</ion-icon></div>
            </swiper>
        </section>
    </ion-col>

    <ion-col col-10 offset-1 no-padding margin-top>
        <ion-row VSideLeft nowrap>
            <ion-col no-padding text-center [class.active]="SelectedBody===b" *ngFor="let b of BodyCategories" (click)="SelectBody(b)" tappable>
                <button><b><span app-icon [innerHTML]="+app.IconFont(b.Icon)"></span></b></button>
            </ion-col>
        </ion-row>
    </ion-col>

    <ion-col col-12 no-padding text-center margin-top style="height:90px">
        <!--<filelist-slide [Datas]="FileNames" (OnDataSelelcted)="FileNameSelected($event)"></filelist-slide>-->
        <li *ngFor="let f of FilterFiles" (click)="OnSelection.next(f)" tappable>{{f.Name_LangId|translate}}</li>
    </ion-col>
</ion-row>
