<ion-list inset list-init list-blue out-line>
    <ion-item detail-none (click)="OnSelection.emit('demo')" tappable>
        {{'profile_page.demo'|translate}}
        <ion-note item-right><ion-icon>&#xf3d1;</ion-icon></ion-note>
    </ion-item>
    <ion-item detail-none (click)="OnSelection.emit('faq')" tappable>
        {{'profile_page.faq'|translate}}
        <ion-note item-right><ion-icon>&#xf3d1;</ion-icon></ion-note>
    </ion-item>
    <ion-item detail-none (click)="OnSelection.emit('tou')" tappable>
        {{'profile_page.tou'|translate}}
        <ion-note item-right><ion-icon>&#xf3d1;</ion-icon></ion-note>
    </ion-item>
</ion-list>

<ion-list inset list-init list-blue out-line>
    <ion-item detail-none>
        {{'profile_page.check_otg'|translate}}
        <ion-icon *ngIf="IsSupportedOTG" style="color: #4b7efa; margin-right: 8px; margin-top: 4px;" item-right>&#xf1f7;</ion-icon>
        <ion-icon *ngIf="! IsSupportedOTG" style="color: yellow; margin-right: 8px; margin-top: 5px;" item-right>&#xf1fb;</ion-icon>
    </ion-item>
    <ion-item detail-none>
        <ion-note item-left style="color: #4b7efa; margin-left:16px; font-size: 1.5rem">
            {{'profile_page.app_version'|translate}}
        </ion-note>
        <ion-note item-right style="color: #4b7efa;">v2.1</ion-note>
    </ion-item>
</ion-list>
<!--<ion-list inset list-init list-blue out-line>
    <ion-item-divider detail-none (click)="Toggle('auth')" text-uppercase>
        {{'profile_page.no_login'|translate}}
        <ion-note item-right style="color: #fff; padding-right: 8px"><ion-icon #authimg>&#xf3d1;</ion-icon></ion-note>
    </ion-item-divider>
    <ng-template [ngIf]="AuthShowing">
        <ion-item detail-none *ngFor="let item of AuthArray,let Index = index" tappable>
            <ion-note item-left style="margin-left:16px">{{item.name}}</ion-note>
            <ion-note item-right style="color: #4b7efa">{{item.option}}</ion-note>
        </ion-item>
    </ng-template>
</ion-list>-->

<ion-list inset list-init list-blue out-line>
    <ion-item detail-none>
        <ion-note style="color: #4b7efa;">{{'profile_page.company'|translate}}</ion-note>
    </ion-item>
    <!--<ion-item detail-none>
        <ion-note item-left style="color: #4b7efa; margin-left:16px; font-size: 1.5rem">
            {{'profile_page.address'|translate}}
        </ion-note>
        <ion-note style="color: #4b7efa; font-size: 1.2rem" item-right>{{'profile_page.company_address'|translate}}</ion-note>
    </ion-item>
    <ion-item detail-none>
        <ion-note item-left style="color: #4b7efa; margin-left:16px; font-size: 1.5rem">
            {{'profile_page.phone_number'|translate}}
        </ion-note>
        <ion-note item-right style="color: #4b7efa;">{{'profile_page.company_phone_number'|translate}}</ion-note>
    </ion-item>-->
</ion-list>
