<ion-list no-lines list-side>
    <button ion-item detail-none (click)="OnSelection.next('demo')" tappable>
        {{'profile_page.demo'|translate}}
        <ion-note item-right><ion-icon>&#xf3d1;</ion-icon></ion-note>
    </button>
    <button ion-item detail-none (click)="OnSelection.next('faq')" tappable>
        {{'profile_page.faq'|translate}}
        <ion-note item-right><ion-icon>&#xf3d1;</ion-icon></ion-note>
    </button>
    <button ion-item detail-none (click)="OnSelection.next('tou')" tappable>
        {{'profile_page.tou'|translate}}
        <ion-note item-right><ion-icon>&#xf3d1;</ion-icon></ion-note>
    </button>
    <button ion-item detail-none>
        {{'profile_page.check_otg'|translate}}
        <p item-right>{{IsSupportedOTG}}</p>
        <!--<ion-note item-right><ion-icon>&#xf3d1;</ion-icon></ion-note>-->
    </button>
</ion-list>

