<ion-header no-shadow no-border>
  <ion-toolbar color="color-primary">
      <ion-row align-items-center no-padding>
        <ion-col col-2 align-self-center text-center no-padding>
            <button clear (click)="Back()" tappable>
                <ion-icon app-icon color="light" style="font-size: 1.8rem">&#xe92b;</ion-icon>
            </button>
        </ion-col>
        <ion-col col-8 align-self-center text-center style="padding: 3vw 0">
            <span ion-text f-1-6 color="light">{{'profile_page.faq'|translate}}</span>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="Selected === undefined" inset list-init list-gray>
        <ion-item text-wrap color="lightBlue" *ngFor="let iter of Items" (click)="Select(iter)" tappable>
          {{iter.title}}
        </ion-item>
    </ion-list>
    <ion-row *ngIf="Selected !== undefined">
      <ion-col padding>
          <h2 color="light">{{Selected.title}}</h2>
          <div color="light" [innerHTML]="Selected.content"></div>
      </ion-col>
    </ion-row>
</ion-content>
