<ion-content no-scroll padding>
    <ng-template [ngIf]="!Completed">
      <div>
        <ion-row margin-horizontal margin-bottom style="background:#F2F2F2">
          <ion-col col-4 offset-4>
              <img src="{{ModeGif}}">
          </ion-col>
        </ion-row>
        <div [ngStyle]="TextStyle">
          <div padding-horizontal f-1-1>{{'demo_play_page.'+ModeInfo|translate}}</div>
        </div>
      </div>

      <div pull-bottom [ngStyle]="{width:'100%',bottom:'50px'}">
        <ion-row margin-horizontal>
            <ion-col col-8 offset-2 [ngStyle]="{marginTop:0,padding:0}">
                <intensity-dial [Value]="Intensity" (OnValueChanged)="AdjustIntensity($event)"></intensity-dial>
            </ion-col>
        </ion-row>
        <ion-row align-items-end [ngStyle]="{position:'relative',zIndex:100}" no-padding no-margin>
          <ion-col col-3 text-center>
              {{Shell.TickingDownHint}}
          </ion-col>
          <ion-col>
              <ion-range min="0" max="100" [ngModel]="Progress" color="secondary" style="padding:0"  disabled progress-bar>
              </ion-range>
          </ion-col>
          <ion-col col-3 text-center>
              {{Shell.DurationMinuteHint}}
          </ion-col>
        </ion-row>
      </div>
    </ng-template>
    <ng-template [ngIf]="Completed">
    <div v-m style="height:100%;">
        <ion-icon app-icon color="color-primary-light" style="font-size:20vh">&#xe95c;</ion-icon>
    </div>
  </ng-template>
</ion-content>
<ion-footer no-border>
  <ion-toolbar visible transparent>
    <div absolute style="z-index:1;left:30px;bottom:30px; padding:20px 20px 0 0;font-size:5vw" (click)="Shutdown()" tappable>{{'demo_play_page.skip'|translate}}</div>
    <ion-row n-m-t-35>
        <ion-col text-center>
            <button ion-fab color="color-primary-light" [ngStyle]="{display:'inline-flex', marginRight:'5vw'}" *ngIf="! Completed && CurrentIdx > 0 && CurrentIdx <= 2" (click)="Previous()" tappable>
                <ion-icon app-icon>&#xe939;</ion-icon>
            </button>
            <button ion-fab color="color-primary-light" [ngStyle]="{display:'inline-flex', marginLeft: CurrentIdx != 0 ?'5vw':''}" *ngIf="! Completed && CurrentIdx < 2" (click)="Next()" tappable>
                <ion-icon app-icon>&#xe93a;</ion-icon>
            </button>
            <!--<button ion-fab color="color-primary-light" [ngStyle]="{display:'inline-flex', marginLeft: Completed ? '':'5vw'}" *ngIf="CurrentIdx >= 2" (click)="Shutdown()" tappable>
                <ion-icon app-icon>&#xe93b;</ion-icon>
            </button>-->
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

