@font-face {
    font-family: 'brandontext_normal';
    src: url($ionicons-font-path + '/brandontext_normal.ttf');
}

body,
* {
    font-family: brandontext_normal, 'microsoft yahei';
}

* {
    @include ColorText();
    @include DominantColor();
    @include FontGeneration();
    [relative],.relative{
        position:relative;
    }
    [absolute] {
        position: absolute;
    }
    [b-g-c] {
        background-color: rgba(255, 255, 255, .3);
    }


    &[pull-bottom] {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

ion-content {
    &[no-scroll],
    &.no-scroll {
        .scroll-content {
            overflow-y: hidden;
        }
    }
    &[transparent] {
        background-color: transparent;
    }
    &[default] {
        color: color($colors, light, base);
        background-color: #333;
    }
    // @include background-list($background-list);
}

ion-menu {
    &[overlay] {
        .menu-inner {
            background: rgba(0, 0, 0, .8)
        }
    }
}

.outer-circle {
    position: relative;
    margin: auto;
    width: 100%;
    height: 0;
    line-height: 0;
    padding-top: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    span.circle-content {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        padding-top: 50%;
        padding-bottom: 50%;
        line-height: 0;
    }
}