@font-face {
    font-family: 'brandontext_normal';
    src: url($ionicons-font-path + '/brandontext_normal.ttf');
}

body,
* {
    font-family: brandontext_normal, 'microsoft yahei';
}

* {
    @include outline();
    @include InOutSide();
    @include ColorText();
    @include DominantColor();
    @include FontGeneration();
    [relative],.relative{
        position:relative;
    }
    [absolute] {
        position: absolute;
    }
    [b-g-c] {
        background-color: rgba(255, 255, 255, .3);
    }


    &[pull-bottom] {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &[p-swiper]{
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        background: url(../assets/img/datumline.png) 30px center repeat-x;
        background-size: contain;
    }
}

ion-content {
    &[no-scroll],
    &.no-scroll {
        .scroll-content {
            overflow-y: hidden;
        }
    }
    &[transparent] {
        background-color: transparent;
    }
    &[default] {
        color: color($colors, light, base);
        background-color: #333;
    }
    // @include background-list($background-list);
}

ion-menu {
    &[overlay] {
        .menu-inner {
            background: rgba(0, 0, 0, .8)
        }
    }
}

.outer-circle {
    position: relative;
    margin: auto;
    width: 100%;
    height: 0;
    line-height: 0;
    padding-top: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    span.circle-content {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        padding-top: 50%;
        padding-bottom: 50%;
        line-height: 0;
    }
}

[panel-shawdow]{
    -webkit-box-shadow: 0 4px 4px 0 0 lighten(color($colors, color-primary, base), 20%);
    -moz-box-shadow: 0 4px 4px 0 0 lighten(color($colors, color-primary, base), 20%);
    box-shadow: 0 4px 4px 0 0 lighten(color($colors, color-primary, base), 20%);
}

.default-file{
    color: color($colors, color-primary, base);
    font-size: 5vw;
    margin-left:1vw
}

.card-view{
    margin-top: 2vh;
    .card-item{
        margin: 0.1vh 6.8vw;
        background-color: color($colors, light, base);
        border-radius: 6px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        .wave-edge{
            min-height: 22vh;
            border-radius: 6px 0 0 6px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            background: url(../assets/img/swipe-border.png) right top repeat-y;
            background-size:contain;
        }
        .big-icon{
            font-size:25vw;
            margin:auto
        }
        .border-icon{
            color: color($colors, gray, base);
            font-size: 11vw;
            margin: auto;
            border-radius: 16%;
            border: 1px solid lighten(color($colors, gray, base), 16%);
        }
        .nav-icon{
            color: color($colors, color-primary, base);
            font-size:12vw;
            margin:auto;
            border-radius:100%;
            background-color: transparent !important;
            background: transparent !important;
            -webkit-box-shadow: 0 4px 4px 0 lighten(color($colors, color-primary, base), 40%);
            -moz-box-shadow: 0 4px 4px 0 lighten(color($colors, color-primary, base), 40%);
            box-shadow: 0 4px 4px 0 lighten(color($colors, color-primary, base), 40%);
        }
        .big-text{
            font-size:5vw;
        }
        .little-text{
            font-size:3.2vw;
            color: lighten(color($colors, dark, base), 30%)
        }
    }
}
