.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
        box-shadow: none;
        // outline:solid 3px rgba(255,255,255,0)
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 1.0em;
        width: 100%;
        // font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
}

ion-card{
    &[card-list-default]{
        @include gradient-liner(right,lighten(color($DominantColor,D-header,base),25%),color($colors,light,base));
        border-radius:6px;
        box-shadow: 0 1px 2px lighten(color($DominantColor,D-header,base),20%);
        ion-card-content{
            ion-item{
                color:darken(color($DominantColor,D-header,base),5%);
                background-color:transparent;
                [item-left]{                    
                    font-size:10rem;                    
                }
            }            
        }
    }
}
