div.grid {
    .row {
        border-collapse: seperate;
        box-sizing: border-box;
        display: table;
        table-layout: fixed;
        width: 100%;
        &:first-child {
            margin-top: 0;
        }
        &:nth-child(odd){
            background-color:rgba(255,255,255,.08)
        }
        &:nth-child(even){
            background-color:rgba(255,255,255,.05)
        }
        &.border {
            border-style: solid;
            border-width: 0;
            border-bottom-width: 1px;
            .cell {
                border-style: solid;
                border-width: 1px;
                border-bottom-width: 0;
            }
        }
    }
    .cell {
        display: table-cell;
        flex: 1;
        flex-direction: column;
        position: relative;
        padding: 8px 10px;
        font-size:1.2rem;
        &.cell-max {
            width: 100%;
            flex: 1 100%;
        }
        &.cell-33 {
            flex: none;
            width: 33%;
        }
        &.cell-nowrap {
            overflow: hidden;
            white-space: nowrap;
        }
        &.cell-valign-middle {
            vertical-align: middle;
            justify-content: center;
        }
        &.cell-valign-bottom {
            vertical-align: bottom;
            justify-content: flex-end;
        }
        &.cell-align-center {
            text-align: center;
        }
        &.cell-align-right {
            text-align: right;
        }
    }
}

ion-row{

    &[VSideLeft]{
        ion-col{
            &.active{
                -webkit-transition: all .2s ease .1s;
                -moz-transition: all .2s ease .1s;
                transition: all .2s ease .1s;
                color:#e02f5b;
                span{
                    display: inline-block;
                    -webkit-transform: scale(1.2);
                }
                ion-icon{
                    -webkit-transform:rotate(180deg);
                    color:#e02f5b;
                }                
            }
           ion-icon{
               position:absolute;
               right:-15px;
               font-size:2rem;
               color:#FFFFFF;

           } 
        }
    }

    &[Hslide]{
        background:url(../assets/img/transparent-horizontal.png) no-repeat;
        background-size:cover;
        ion-slides{
            ion-slide{
                font-size:1.6rem;
                &.active{
                    color:#e02f5b;
                    ion-icon{
                        -webkit-transform: rotate(90deg);
                        position:absolute;
                        left:45%;
                        top:-10px;
                    }                   
                }
            }
        }
        
    }

    &[RSideTop]{
        width:100%;
        top:5px;
        right:5px;
        z-index:1;
        position:absolute;
        ion-col{
            background-color:rgba(255,255,255,.3); 
            border-radius:5px;            
            margin-right:5px;
            &:last-child(){
                margin-right:18px;
            }
            div{
                padding-top:50%;
                padding-bottom:50%;
                height:0;
                line-height:0;
            }
        }
    }

}