div.grid {
    .row {
        border-collapse: seperate;
        box-sizing: border-box;
        display: table;
        table-layout: fixed;
        width: 100%;
        &:first-child {
            margin-top: 0;
        }
        &:nth-child(odd){
            background-color:rgba(255,255,255,.08)
        }
        &:nth-child(even){
            background-color:rgba(255,255,255,.05)
        }
        &.border {
            border-style: solid;
            border-width: 0;
            border-bottom-width: 1px;
            .cell {
                border-style: solid;
                border-width: 1px;
                border-bottom-width: 0;
            }
        }
    }
    .cell {
        display: table-cell;
        flex: 1;
        flex-direction: column;
        position: relative;
        padding: 8px 10px;
        font-size:1.2rem;
        &.cell-max {
            width: 100%;
            flex: 1 100%;
        }
        &.cell-33 {
            flex: none;
            width: 33%;
        }
        &.cell-nowrap {
            overflow: hidden;
            white-space: nowrap;
        }
        &.cell-valign-middle {
            vertical-align: middle;
            justify-content: center;
        }
        &.cell-valign-bottom {
            vertical-align: bottom;
            justify-content: flex-end;
        }
        &.cell-align-center {
            text-align: center;
        }
        &.cell-align-right {
            text-align: right;
        }
    }
}