ion-list.list {
    // @include IonList('blue',#6490fb);
    @include IonList('gray',#828282);
    &[list-init]{
        border-radius: 10px;
        .item{
            padding:0;
            background-color:transparent;

            .item-inner{
                border-bottom-color:transparent;
                padding-left:16px;
            }

            [item-right]{
                margin:0 8px 0 8px;
                *{
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            ion-label{
                font-size:1.5rem;
            }
        }
    }
    &[list-side] {
        .item {
            font-size: 1.5rem;
            ion-icon {
                &[inline-left] {
                    margin-left:  .5rem;
                    margin-right: .8rem;
                }
            }
            .item-inner {
                margin-left: 0;
            }
        }
    }
    &[split-thin] {
        .item-block {
            margin-top: 2px;
        }
    }
    &[split-medium] {
        .item-block {
            margin-top: 3px;
        }
    }
    &[holder-light] {
        input::-webkit-input-placeholder {
            color: white;
        }
    }
    &[transparent] {
        ion-item,
        .item-ios,
        .item-md {
            background-color: transparent;
        }
    }
    &[text-light] {
        * {
            color: color($colors, light, base);
        }
        ion-item,
        ion-item-divider {
            h1,
            h2,
            p,
            ion-note {
                color: color($colors, light, base);
            }
        }
    }
    &[no-margin] {
        ion-item {
            ion-label {
                margin: 0;
            }
        }
    }
    &[no-padding] {
        ion-item {
            padding: 0;
        }
    }
    &[v-padding] {
        ion-item,
        ion-item-divider {
            padding: 10px 0;
        }
    }
    &[v-border-light] {
        .item {
            &:first-child {
                border-top: solid 3px color($colors, light, base);
            }
            &:last-child {
                border-bottom: solid 3px color($colors, light, base);
            }
            border-bottom:solid 3px color($colors, light, base);
            .item-inner {
                border-bottom-width: 0;
            }
        }
        .item-block {
            &:first-child {
                border-top: solid 2px color($colors, light, base);
            }
            &:last-child {
                border-bottom: solid 2px color($colors, light, base);
            }
            border-bottom:solid 2px color($colors, light, base);
            .item-inner {
                border-bottom-width: 0;
            }
        }
    }
    ion-item-divider {
        &[transparent] {
            background: transparent;
        }
    }
}

ion-item,
ion-item-divider {
    &[device]{
        [item-right]{
            margin:0;
            [inner-icon]{
                position:relative;
                width:20px;
                height:20px;
                font-size:2rem;
                ion-icon{
                    position:absolute;
                    z-index:1;
                    &[static]{
                        z-index:0;
                        color:#ddd;
                    }
                }
            }

        }
    }
    &.item {
        span {
            &[super] {
                position: relative;
                min-width: 36px;
                min-height: 2.8rem;
                display: inline-block;
                vertical-align: middle;
                ion-icon {
                    z-index: 1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 2.6rem;
                    min-height: 2.6rem;
                    line-height: 1;
                    &:last-child {
                        z-index: 0;
                        font-size: 2.4rem;
                        top: 2px;
                        left: 6px;
                    }
                }
            }
        }
    }
}

div {
    &[list-warning] {
        h6 {
            * {
                display: inline;
                vertical-align: middle;
            }
            i {
                margin-right: 5px;
            }
        }
        li {
            color:color($colors,dark,base);
            font-size: 1.4rem;
            letter-spacing: .2rem;
            padding: 5px 0;

        }
    }
}
