@mixin IonList($color,$value){
    &[list-#{$color}]{
        background-color:lighten($value,35%);

        &[out-line]{
            border:solid 1px lighten($value,20%);
        }

        ion-item-divider.item,ion-item.item{
            border-bottom:solid 1px lighten($value,20%);
        }
        ion-item-divider.item{
            background-color:lighten($value,5%);
            ion-label{
                color:white;
            }
        }
        ion-item.item{            
            ion-label{
                color:darken($value,5%)
            }
            ion-note{
                color:lighten($value,10%)
            }
        }
    }
}

@mixin DominantColor() {

    ion-header{
        &.skin-default{
            ion-toolbar.toolbar{
                .toolbar-background{
                    background:color($colors,color-primary,base);
                }
            }
        }
    }

    .skin-default{
        background-color: color($colors,light,base);         
    }

    .skin-demo{
        background-color: darken(color($colors,color-primary,base),5%);         
    }

    .skin-tou{
        background-color: color($colors,color-primary-tou,base);
        color:color($colors,light,base);         
    }

    // .skin-home{
    //     background-color: color($DominantColor,D-Default,base);
    //     background-image:url(../assets/img/bg_home.png);
    //     background-repeat:repeat-x; 
    //     background-position: center top;
    //     background-size:contain;  
    //     section{
    //         &[Flip-x]{
    //             color:color($colors,light,base);
    //         }
    //     }
    //     [RSideTop]{
    //         color:color($colors,light,base);
    //     }    
    // }

    .skin-sport{
        background:color($colors,light,base) -webkit-linear-gradient(top,color($colors,color-primary,base),color($colors,color-primary-exc,base));
    }
    .skin-running{
        background:color($colors,light,base) -webkit-linear-gradient(top,color($colors,color-primary,base),color($colors,color-primary-exc,base));
    }
}

@mixin background-list($list) {
    -webkit-transition: all .2s ease .1s;
    -moz-transition: all .2s ease .1s;
    transition: all .2s ease .1s;
    @each $bg in $list {
        &.#{$bg}-home {
            background-image:url('../assets/img/class/#{$bg}.jpg');
            background-size: cover;
            canvas {
                background-repeat: no-repeat;
                background-position-x: 36%;
                background-size: cover;
            }
        }
        &.#{$bg}-go {
            background-position: center center;
            background-size: cover;
        }
        &.#{$bg}-running {
            background-position: right center;
            background-size: cover;
        }
        @if($bg=='strengths') {
            &.#{$bg}-home {
                canvas {
                    background-image: url(../assets/img/bg_canvas_dark.png);
                }
            }
            &.#{$bg}-go,
            &.#{$bg}-running {
                background-image:url(../assets/img/transparency-dark.png),
                url('../assets/img/class/#{$bg}.jpg');
                p {
                    &[explain] {
                        border: dotted 2px rgba(0, 0, 0, .1);
                    }
                }
            }
        }
        @else {
            &.#{$bg}-home {
                canvas {
                    background-image: url(../assets/img/bg_canvas_light.png);
                }
            }
            &.#{$bg}-go,
            &.#{$bg}-running {
                background-image:url(../assets/img/transparency.png),
                url('../assets/img/class/#{$bg}.jpg');
                p {
                    &[explain] {
                        border: dotted 2px rgba(255, 255, 255, .05);
                    }
                }
            }
        }
    }
}

@mixin toolbar-footer($list) {
    @each $bg in $list {
        @if ($bg=='strengths') {
            &.#{$bg}-footer {
                .toolbar-background {
                    background: rgba(0, 0, 0, .05);
                }
                .state {
                    background-color: rgba(0, 0, 0, .5);
                    button,
                    span {
                        color: white;
                    }
                }
            }
        }
        @else {
            &.#{$bg}-footer {
                .toolbar-background {
                    @if($bg=='spots') {
                        background: rgba(255, 255, 255, .05);
                    }
                    @else {
                        background: rgba(0, 0, 0, .8);
                    }
                }
                .state {
                    background-color: rgba(255, 255, 255, .2);
                }
            }
        }
    }
}

@mixin gradient-radial($color,
$lightColor,
$darkColor) {
    background-image: radial-gradient(circle at 25% 35%, $lightColor, $color, $darkColor);
    background-repeat: no-repeat;
}

@mixin gradient-liner($direction,$startColor,$endColor) {
    background-image: linear-gradient(to $direction,$startColor,$endColor);
    background-image: -webkit-linear-gradient($direction,$startColor,$endColor);
}

@mixin square($outlineStyle,
$outlinewidth) {
    position: relative;
    width: 100%;
    height: 0;
    line-height: 0;
    overflow: hidden;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50%;
    padding-top: 50%;
    text-align: center;
    border-style: $outlineStyle;
    border-width: $outlinewidth;
}

@mixin scale($s1:1.2) {
    transform: scale($s1);
    -webkit-transform: scale($s1);
    -moz-transform: scale($s1);
    -o-transform: scale($s1);
    -ms-transform: scale($s1);
}

@mixin FontGeneration($num:9) {
    @for $i from 1 through $num {
        @for $j from 0 through $num {
            &[f-#{$i}-#{$j}],
            &.f-#{$i}-#{$j} {
                font-size: $i + $j/10 + rem;
            }
        }
    }
}

@mixin FlexBox($value:center) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: $value;
    -webkit-align-items: $value;
    -webkit-box-align: $value;
    align-items: $value;
    -webkit-justify-content: $value;
    justify-content: $value;
}

@mixin FadeMode($way:fadeIn) {
    @keyframes #{$way} {
        0% {
            @if $way==fadeIn or $way==fadeInOut {
                opacity: 0;
            }
            @else if $way==fadeOut {
                opacity: 1;
            }
        }
        50% {
            @if $way==fadeIn or $way==fadeOut {
                opacity: .5;
            }
            @else if $way==fadeInOut {
                opacity: 1;
            }
        }
        100% {
            @if $way==fadeIn {
                opacity: 1;
            }
            @else if $way==fadeOut or $way==fadeInOut {
                opacity: 0;
            }
        }
    }
}