@mixin background-list($list) {
    -webkit-transition: all .2s ease .1s;
    -moz-transition: all .2s ease .1s;
    transition: all .2s ease .1s;
    @each $bg in $list {
        &.#{$bg}-home {
            background-image:url('../assets/img/class/#{$bg}.jpg');
            background-size: cover;
            canvas {
                background-repeat: no-repeat;
                background-position-x: 36%;
                background-size: cover;
            }
        }
        &.#{$bg}-go {
            background-position: center center;
            background-size: cover;
        }
        &.#{$bg}-running {
            background-position: right center;
            background-size: cover;
        }
        @if($bg=='strengths') {
            &.#{$bg}-home {
                canvas {
                    background-image: url(../assets/img/bg_canvas_dark.png);
                }
            }
            &.#{$bg}-go,
            &.#{$bg}-running {
                background-image:url(../assets/img/transparency-dark.png),
                url('../assets/img/class/#{$bg}.jpg');
                p {
                    &[explain] {
                        border: dotted 2px rgba(0, 0, 0, .1);
                    }
                }
            }
        }
        @else {
            &.#{$bg}-home {
                canvas {
                    background-image: url(../assets/img/bg_canvas_light.png);
                }
            }
            &.#{$bg}-go,
            &.#{$bg}-running {
                background-image:url(../assets/img/transparency.png),
                url('../assets/img/class/#{$bg}.jpg');
                p {
                    &[explain] {
                        border: dotted 2px rgba(255, 255, 255, .05);
                    }
                }
            }
        }
    }
}

@mixin toolbar-footer($list) {
    @each $bg in $list {
        @if ($bg=='strengths') {
            &.#{$bg}-footer {
                .toolbar-background {
                    background: rgba(0, 0, 0, .05);
                }
                .state {
                    background-color: rgba(0, 0, 0, .5);
                    button,
                    span {
                        color: white;
                    }
                }
            }
        }
        @else {
            &.#{$bg}-footer {
                .toolbar-background {
                    @if($bg=='spots') {
                        background: rgba(255, 255, 255, .05);
                    }
                    @else {
                        background: rgba(0, 0, 0, .8);
                    }
                }
                .state {
                    background-color: rgba(255, 255, 255, .2);
                }
            }
        }
    }
}

@mixin gradient-radial($inner-color: #555,
$outer-color: #333) {
    background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
}

@mixin square($outlineStyle,
$outlinewidth) {
    position: relative;
    width: 100%;
    height: 0;
    line-height: 0;
    overflow: hidden;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50%;
    padding-top: 50%;
    text-align: center;
    border-style: $outlineStyle;
    border-width: $outlinewidth;
}

@mixin scale($s1:1.2){
    transform:scale($s1);
    -webkit-transform:scale($s1);
    -moz-transform:scale($s1);
    -o-transform:scale($s1);
    -ms-transform:scale($s1);
}