// ion-range.range {
//     &[progress-bar] {
//         &.range-disabled {
//             .range-knob {
//                 outline: none;
//                 border: none;
//                 background-color: color($colors,light,base);
//             }
//         }
//         .range-knob-handle {
//             .range-knob {
//                 top: 14px;
//                 left: 16px;
//                 width: 16px;
//                 height: 16px;
//                 box-shadow: 0 0 10px rgba(0,0,0,.1);
//             }
//         }
//         .range-bar {
//             margin-top: -2px;
//             height: 6px;
//             border-radius: 3px;
//             background: lighten(color($colors,dark,base),80%);
//             border: solid 1px rgba(255, 255, 255, .15);           
//             &.range-bar-active {
//                 background:color($colors,color-primary,base);                
//             }
//         }
        
//     }
// }

ion-range.range {
    &[progress-bar] {
        .range-bar{
            border-radius:10px;
        }

        .range-knob-handle{
            display: none;
            .range-knob{
                border:none;
                box-shadow: 0 0 10px rgba(0,0,0,.2);
                background-color:color($colors,light,base);
            }
        }



        &.range {
            .range-bar-active{
                background-color: lighten(color($colors,color-primary,base),10%);
                background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                background-size: 1rem 1rem;
                animation: progress-bar-stripes 1s linear infinite;
            }
            .range-knob {
                outline: none;
                background-color:color($colors,light,base);
                // transform: scale(.55);
            }
        }
    }
}