button,ion-checkbox{
    @each $skin in $background-list {
         
        @if($skin == 'purple'){
            &.skin-#{$skin}{
                color:color($colors,light,base);
                background-color:color($colors,skin-purple,base);
                
                .checkbox-checked {
                    border-color:color($colors,skin-purple,base);
                    background-color:color($colors,skin-purple,base);
                }
            }   
        }

        @if($skin == 'weal'){
            &.skin-#{$skin}{
                color:color($colors,light,base);
                background-color:color($colors,skin-weal,base);
                
                .checkbox-checked {
                    border-color:color($colors,skin-weal,base);
                    background-color:color($colors,skin-weal,base);
                }
            }   
        }

        @if($skin == 'sunset'){
            &.skin-#{$skin}{
                color:color($colors,light,base);
                background-color:color($colors,skin-sunset,base);
                
                .checkbox-checked {
                    border-color:color($colors,skin-sunset,base);
                    background-color:color($colors,skin-sunset,base);
                }
            }   
        }

        @if($skin == 'BlackRed' or $skin == 'abstract'){
            &.skin-#{$skin}{
                color:color($colors,light,base);
                background-color:color($colors,skin-Black,base);
                
                .checkbox-checked {
                    border-color:color($colors,skin-Black,base);
                    background-color:color($colors,skin-Black,base);
                }
            }     
        }

    }
}
