@import "swiper.min";
.swiper-button-next {
    ion-icon{
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.swiper-button-prev,.swiper-button-next {
    background-image: none;
    opacity: 0.8;
    text-align: center;
    &.swiper-button-disabled {
        opacity: 0.25;
    }
    ion-icon{
        font-size:3.6rem;
    }
}
.swiper-pagination-bullet{
    background:color($colors, gray, base);
}
.swiper-wrapper{
    .swiper-slide{
        display: -webkit-flex;
        display:flex;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
        &.swiper-slide-active{
            ion-icon{
                &.bodypart{
                    margin-top:-50%;
                    background-color: color($colors, color-primary, base);
                    border-radius: 10px;
                    padding: 10px;
                    @include BlockShadow(lighten(color($colors, color-primary, base), 20%), 0, 0, 40);
                }
                &.star{
                    color: color($colors, color-primary, base);
                }
            }
        }
        &.swiper-slide-prev,
        &.swiper-slide-next{
            ion-icon{
                &.bodypart{
                    margin-top:-50%;
                    background-color: lighten(color($colors, color-primary, base), 20%);
                    border-radius: 10px;
                    padding: 10px;
                    -webkit-transform:scale(0.88);
                    -o-transform: scale(0.88);
                    transform:scale(0.88);
                }
            }
        }
    }
    .swiper-cube-shadow{
        display: none;
    }
}


[swiper-piker]{
    .swiper-pagination-progress{
        background-color:rgba(0,0,0,.1);
        .swiper-pagination-progressbar{
            background: color($colors,color-primary-exc,base);
        }
    }
    .swiper-slide{
        position:relative;
        color:darken(color($colors,light,base),30%);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        justify-content: flex-start;
        padding-left:20%;
        span.timer{
            position:absolute;
            right:5px;
            bottom:10px;
            font-size:12px;
        }
        &.swiper-slide-active{
            color: color($colors, dark, base);
        }
        .swiper-slide-shadow-top,.swiper-slide-shadow-bottom{display:none}
    }
}

