
.swiper-button-next {
    ion-icon{
        -webkit-transform: rotate(180deg);
    }
}

.swiper-button-prev,.swiper-button-next {
    background-image: none;
    opacity: 0.8;
    text-align: center;
    &.swiper-button-disabled {
        opacity: 0.25;
    }
    ion-icon{        
        font-size:3.6rem;
    }
}
.swiper-pagination-bullet{
    background:color($colors,light,base);
}
.swiper-wrapper{
    .swiper-slide{
        display: -webkit-flex;
        display:flex;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
    }
    .swiper-cube-shadow{
        display: none;
    }
}


[swiper-piker]{
    background:url(../assets/img/datumline.png) 30px center no-repeat;
    background-size:contain;
    .swiper-pagination-progress{
        background-color:rgba(0,0,0,.1);
        .swiper-pagination-progressbar{
            background:darken(color($colors,color-primary-exc,base),25%);
        }
    }
    .swiper-slide{  
        position:relative;      
        color:darken(color($colors,light,base),30%);         
        -webkit-transform-origin: center center;
        transform-origin: center center;
        justify-content: flex-start;
        padding-left:20%;
        span.timer{
            position:absolute;
            right:5px;
            bottom:10px;
            font-size:12px;
        }
        &.swiper-slide-active{
            color:color($colors,color-primary,base); 
        }
        .swiper-slide-shadow-top,.swiper-slide-shadow-bottom{display:none}
    } 
}

