// .ios ion-nav>.ion-page>ion-header>.toolbar.statusbar-padding:first-child {
//     padding: 4px;
//     min-height: 44px;
//     ion-title {
//         padding-top: initial;
//         height: initial;
//         min-height: 44px;
//     }
// }

// .ios ion-menu>.menu-inner>ion-content.statusbar-padding:first-child .scroll-content {
//     padding: 0;
// }

ion-toolbar {
    // @include toolbar-footer($background-list);
    &.toolbar {
        &.o-light {
            .toolbar-background {
                background: rgba(255, 255, 255, .1)
            }
        }
        &[Header-Default]{
            .toolbar-background {
                background-color:rgba(0,0,0,.05);
            }
        }
    }
    &[visible] {
        overflow: visible;
        contain: none;
    }
    

    &[FooterTab-Default]{
        ion-row{
            ion-col{
                color:#a1a1a1;
                background-color:#edf6ff;
                &.state{
                    background-color:color($DominantColor,D-Default,base);                 
                    button{
                        @include gradient-liner(top,#8adaff,#7f9dff);
                        // background-color:#23609d;
                        color:color($colors,light,base);
                    }
                }
                button{                    
                    width:10vw;
                    padding-top:5vw;
                    padding-bottom:5vw;
                    font-size:5vw;
                    border-radius:50%;
                    height:0;
                    line-height:0;
                    background:transparent;
                    display: inherit;
                    margin: auto;
                    color:#a1a1a1;
                    ion-icon{
                        margin-top:-5px;
                    }
                }
            }
        }
    }
   
}

