<ion-header no-shadow no-border [ngClass]="app.Skin()">
  <ion-toolbar>
      <ion-title text-center><span ion-text color="light">FAQ</span></ion-title>
      <ion-buttons left>
        <button ion-button clear (click)="Back()" tappable>
          <ion-icon app-icon color="light">&#xe92b;</ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="Selected === null"  split-thin>
        <ion-item color="lightBlue" *ngFor="let iter of Items" (click)="Select(iter)" tappable>
          <ion-icon color="ligray" item-left style="opacity:.1">&#xf3d1;</ion-icon>
          {{iter.title}}
        </ion-item>
    </ion-list>
    <ion-row *ngIf="Selected !== null">
      <ion-col padding>
          <h2 color="light">{{Selected.title}}</h2>
          <p color="light">{{Selected.content}}</p>
      </ion-col>
    </ion-row>
</ion-content>
