<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-title text-center>FAQ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="Selected === null" no-lines split-thin>
        <ion-item color="lightBlue" *ngFor="let iter of Items" (click)="Select(iter)" tappable>
          <ion-icon color="ligray" class="blue-icon" item-left>&#xe92a;</ion-icon>
          {{iter.title}}
        </ion-item>
    </ion-list>
    <ion-row *ngIf="Selected !== null">
      <ion-col padding>
          <h2 color="light">{{Selected.title}}</h2>
          <p color="light">{{Selected.content}}</p>
      </ion-col>
    </ion-row>
</ion-content>

<ion-footer no-shadow>
  <div content-footer [ngClass]="app.SkinConFooter">
    <ion-buttons left>
      <button ion-button icon-only (click)="Back()" tappable>
        <ion-icon app-icon [ngClass] = "app.SkinColor">&#xe92b;</ion-icon>
      </button>
    </ion-buttons>
  </div>
</ion-footer>
